#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/opt/dbeaver/icon.xpm
Name[en_US]=DBeaver
Comment[en_US]=DBeaver Enterprise
Exec=/opt/dbeaver/dbeaver
Name=DBeaver
Comment=DBeaver Enterprise
Icon=/opt/dbeaver/icon.xpm
